<div data-controller="invites" class="my-4">
  <% @current_user.invites.order(:created_at).each do |invite| %>
    <div>
      <% if invite.status != "declined"  %>
        <div data-invites-target="lign">
        <p><%= link_to user_path(invite.first_user) do %>
        <%= cl_image_tag invite.first_user.photo.key, height: 50, width: 50, crop: :fill, class:"rounded-circle" %>
          <strong><%= invite.first_user.firstname %></strong> <% end %> sends you an invite

          <% if invite.status == "pending"  %>
            <%= link_to accept_path(invite), data: {turbo_method: :patch, invites_target: "accept", action: "click->invites#updateAccept"} do %>
              <i class="fa-regular fa-circle-check"></i>
            <% end %>
            <%= link_to decline_path(invite), data: {turbo_method: :patch, invites_target: "decline", action: "click->invites#updateDecline"} do %>
              <i class="fa-regular fa-circle-xmark"></i>
            <% end %>
          <% elsif invite.status == "accepted" %>
            <%= link_to invite_messages_path(invite) do %>
            <i class="fa-solid fa-envelope"></i>
            <% end %>
          <% end %>
        </p>
        </div>
    </div>
    <% end %>
  <% end %>
</div>
