<div class="container" >

  <h1>Messages</h1>

  <% if @invites.any? %>
    <% if @invite_messages.any? %>
      <% @invites.each do |invite| %>
        <%= link_to invite_invite_messages_path(invite) do %>
          <div>
            <% if invite.first_user == current_user %>
              <div class="d-flex m-2 my-4 align-items-center">
                <div class="me-3">
                  <%= cl_image_tag invite.second_user.photo.key, alt: "avatar", height: 50, width: 50, crop: :fill, class:"rounded-circle" %>
                </div>
                <div>
                  <span><%= link_to invite.first_user.nickname, invite_invite_messages_path(invite) %></span><br>
                  <div class="d-flex">
                    <span class="opacity-50"><%= invite.messages.last.user == current_user ? "You: " : "" %><%= invite.messages.last.content.truncate(25) %></span>
                    <i class="justify-content-between"><%= invite.messages.last.created_at < 24.hours.ago.to_time ? invite.messages.last.created_at.strftime("%a %b %e at %l:%M %p") : "#{(Time.current - invite.messages.last.created_at).round.modulo(24)} hours ago" %></i>
                  </div>
                </div>
              </div>
            <% else %>
              <div class="d-flex m-2 my-4 align-items-center">
                <div class="me-3">
                  <%= cl_image_tag invite.first_user.photo.key, alt: "avatar", height: 50, width: 50, crop: :fill, class:"rounded-circle" %>
                </div>
                <div>
                  <span><%= link_to invite.first_user.nickname, invite_invite_messages_path(invite) %></span><br>
                  <div class="d-flex">
                    <span class="opacity-50"><%= invite.messages.last.user == current_user ? "You: " : "" %><%= invite.messages.last.content.truncate(25) %></span>
                    <i class="justify-content-between"><%= invite.messages.last.created_at < 24.hours.ago.to_time ? invite.messages.last.created_at.strftime("%a %b %e at %l:%M %p") : "#{(Time.current - invite.messages.last.created_at).round.modulo(24)} hours ago" %></i>
                  </div>
                </div>
              </div>
            <% end %>
          </div>
        <% end %>
      <% end %>
    <% else %>
      <p class="text-center"><%= "Sorry, there is no message" %> <i class="fa-regular fa-face-sad-cry"></i></p>
    <% end %>
  <% else %>
    <p class="text-center"><%= "Sorry, make some connections first" %> <i class="fa-regular fa-face-sad-cry"></i></p>
  <% end %>
</div>
