<div class="container" >

<h1>Messages</h1>

  <% if @invites.any? %>
      <% if @invite_messages.any? %>
          <% @invites.each do |invite| %>
          <div class="border">
            <% if invite.first_user == current_user %>
            <div class="d-flex">
              <div class="d-flex">
                <%= cl_image_tag invite.second_user.photo.key, alt: "avatar", height: 50, width: 50, crop: :fill, class:"rounded-circle" %>
                <p><%= link_to invite.second_user.nickname, invite_invite_messages_path(invite) %>
              </div>
              <%# <div>
                <%= invite.messages.last.content %></p>
              <%# </div> %>
            </div>
                <p><%= link_to invite.second_user.instrument, invite_invite_messages_path(invite) %>
            <% else %>
              <p><%= link_to invite.first_user.nickname, invite_invite_messages_path(invite) %>
              <%= invite.messages.last.content %></p>
            <% end %>
          </div>
          <% end %>
      <% else %>
        <p class="text-center"><%= "Sorry, there is no message" %> <i class="fa-regular fa-face-sad-cry"></i></p>
      <% end %>
  <% else %>
    <p class="text-center"><%= "Sorry, make some connections first" %> <i class="fa-regular fa-face-sad-cry"></i></p>
  <% end %>
</div>
