<div class="container chatroom mt-5">
  <%= link_to messages_path do %>
      <i class="fa-solid fa-chevron-left"></i>
    <% end %>
  <h3 class="text-center mb-5">
    <% if @invite.first_user == current_user %>
      <%= link_to user_path(@invite.second_user) do %>
        <%= cl_image_tag @invite.second_user.photo.key, alt: "avatar", width: 90, height: 90, crop: :fill, class:"rounded-circle" %><br>
        <span><%= @invite.second_user.nickname %></span>
      <% end %>
    <% else %>
      <%= link_to user_path(@invite.first_user) do %>
        <%= cl_image_tag @invite.first_user.photo.key, alt: "avatar", width: 90, height: 90, crop: :fill, class:"rounded-circle" %><br>
        <span><%= @invite.first_user.nickname %>
      <% end %>
    <% end %>
  </h3>


    <div class="messages">
      <% @invite.messages.each_with_index do |message, index| %>
        <% if message.user != current_user %>
          <div class="d-flex flex-row justify-content-start <%= @invite.messages.length == index + 1 ? 'mb-5' : '' %>" style="width:100%">
            <%= cl_image_tag message.user.photo.key, alt: "avatar", width: 45, height: 45, crop: :fill, class:"rounded-circle" %>
            <div id="message-<%= message.id %>" class="text-break" style="max-width: 85%;" >
              <p class="p-2 ms-3 mb-1 rounded-3" style="background-color: #f5f6f7;"> <%= message.content %></p>
              <p class="small ms-3 mb-3 rounded-3 float-end"><%= message.created_at.strftime("%H:%M | %b %d") %></p>
            </div>
          </div>
        <% else %>
          <div class="d-flex flex-row justify-content-end <%= @invite.messages.length == index + 1 ? 'mb-5' : '' %>" style="width:100%">
            <div id="message-<%= message.id %>" class="text-break" style="max-width: 85%" >
              <p class="p-2 me-3 mb-1 text-white rounded-3 bg-primary"><%= message.content %></p>
              <p class="small me-3 mb-3 rounded-3 "><%= message.created_at.strftime("%H:%M | %b %d") %></p>
            </div>
              <%= cl_image_tag message.user.photo.key, alt: "avatar", width: 45, height: 45, crop: :fill, class:"rounded-circle" %>
          </div>
        <% end %>
      <% end %>


      <div class="pe-3 pb-5 mb-5 position-absolute position-fixed bottom-0" style="width:100%">
        <%= render 'messages/form', invite: @invite, user: current_user, band_message: @band_messages %>
      </div>

  </div>
</div>
