<div class="container mb-3">
<%= simple_form_for(user) do |f| %>
  <%= f.input :firstname %>
  <%= f.input :lastname %>
  <%= f.input :nickname %>
  <%= f.input :instrument %>
  <%= f.input :biography, as: :text %>
  <%= f.input :style %>
  <%= f.input :photo, as: :file %>
  <%= f.input :address,
      input_html: {data: {address_autocomplete_target: "address"}},
      wrapper_html: {data: {controller: "address-autocomplete", address_autocomplete_api_key_value: ENV["MAPBOX_API_KEY"]}}
    %>
  <%= f.submit "Submit", class: "btn btn-primary long-btn" %>
<% end %>
</div>
