<div class="content">
  <div class="cards-container">
    <% if @users.any? %>
      <ul>
        <% @users.each do |user| %>
          <li class="card">
            <%= link_to user_path(user), class: 'card-link' do %>
              <div class="card">
                <% if user.photo.attached? %>
                  <%= cl_image_tag user.photo.key, alt: "text" %>
                <% else %>
                  <%= image_tag "https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/skateboard.jpg", alt: user.nickname, class: 'card-img'  %>
                <% end %>
                <div class="card-info">
                  <h3><%= user.firstname %> "<%= user.nickname %>"</h3>
                  <p><%= user.address %></p>
                  <%= user.instrument %></p>
                  <p class="price">
                    <i class="fa-solid fa-square-poll-vertical"></i>
                    <%= user.style %>
                  </p>
                </div>
              </div>
            <% end %>
          <% end %>
        </li>
      </ul>
    <% else %>
      <p class="text-center"><%= "Sorry, '#{params[:query]}' is not available" %> <i class="fa-regular fa-face-sad-cry"></i></p>
    <% end %>
