<div class="container">
  <div class="mx-4">

    <div class="d-flex">
      <%= link_to users_path do %>
      <i class="fa-solid fa-chevron-left"></i>
      <% end %>

      <div class="ms-5">
        <h3><%= @user.firstname %></h3>
      </div>
    </div>

    <div class="justify-content-center">
      <% if @user.photo.attached? == true %>
        <%= cl_image_tag @user.photo.key, alt: "user picture", class:"rounded-circle mx-auto d-block mt-4", width: 150, height: 150, crop: :fill %>
      <% end %>
    </div>

    <% if @user != current_user %>
      <div class="d-flex d-grid gap-2 m-3 justify-content-center">
        <% if @first_user || @second_user %>
          <%= link_to "Chat", invite_invite_messages_path(@invite.first), class: "btn btn-primary" %>
        <% else %>
          <div>
            <%= link_to "Invite", invites_path(user_id: @user.id),
              data: {
                controller: "invite-button",
                action: "click->invite-button#disable",
                turbo_method: :post
              },
              class:"btn btn-primary" %>
          </div>
        <% end %>
      </div>
    <% end %>


    <% if @user.user_bands.any? %>
      <div class="d-flex ms-4 mt-3 align-items-center">
          <div class="mt-25">
            <p>
                Bands : <br>
                <% @user.user_bands.each_with_index do |user_band, index| %>
                  <span><%= link_to user_band.band.name, band_path(user_band.band) %></span>
                  <%= @user.user_bands.length == index + 1 ? '' : ',' %>
                <% end %>
            </p>
          </div>
      </div>
    <% end %>


    <div class="mt-3">
      <h4>Instrument</h4>
      <p class="tag"><%= @user.instrument %></p>
    </div>

    <div class="mt-3">
      <h4>Bio</h4>
      <p><%= @user.biography %></p>
    </div>

    <div class="mt-3">
      <h4>Genre</h4>
      <p class="tag"><%= @user.style %></p>
    </div>

    <div class="mt-3">
      <h4>What I want to play</h4>
      <div class="d-flex">
        <% if @user.projects.include?(",") %>
          <% @user.projects.split(",").each do |o| %>
          <p class="tag"><%= o %></p>
          <% end %>
        <% else %>
          <p class="tag"><%= @user.projects %></p>
        <% end %>
      </div>
    </div>

    <div class="mt-3">
      <h4>How I want to play</h4>
      <div class="d-flex">
        <% if @user.objectives.include?(",") %>
          <% @user.objectives.split(",").each do |o| %>
          <p class="tag"><%= o %></p>
          <% end %>
        <% else %>
          <p class="tag"><%= @user.objectives %>
        <% end %>
      </div>
    </div>

    <div class="mt-3">
      <h4>Availability</h4>
      <div class="d-flex">
        <% if @user.availability.include?(",") %>
          <% @user.availability.split(",").each do |o| %>
          <p class="tag"><%= o %></p>
          <% end %>
        <% else %>
          <p class="tag"><%= @user.availability %>
        <% end %>
      </div>
    </div>

    <div class="mt-3">
      <h4>Frequency</h4>
      <div class="d-flex">
        <% if @user.frequency.include?(",") %>
          <% @user.frequency.split(",").each do |o| %>
          <p class="tag"><%= o %></p>
          <% end %>
        <% else %>
          <p class="tag"><%= @user.frequency %></p>
        <% end %>
      </div>
    </div>

    <div class="mt-3">
      <h4>Recordings</h4>
      <div class="d-flex">
      <p class="tag"><i class="fa-solid fa-play"></i> Cover</p>
      <p class="tag"><i class="fa-solid fa-play"></i> Listen</p>
      </div>
    </div>

    <div class="mt-3">
      <h4>Playlist</h4>
      <div class="d-flex justify-content-evenly fs-5">
      <i class="fa-brands fa-spotify"></i>
      <i class="fa-brands fa-deezer"></i>
      <i class="fa-brands fa-soundcloud"></i>
      </div class="mb-4">
    </div>

  </div>
</div>
</div>
