<div class="container">
  <div class="m-5">
    <div class="col">
      <%= link_to "Back to list", root_path %>

      <h1><%= @user.firstname %> aka "<%= @user.nickname %>"</h1>
      <%= @user.email %>
      <% if @user.photo.attached? == true %>
        <%= cl_image_tag @user.photo.key, alt: "user picture" %>
      <% end %>
      <div data-controller="invite-button" data-action="click->invite-button#disable">
        <%= link_to "Invite", invites_path(user_id: @user.id), data: { turbo_method: :post } %>
      </div>
      <div>
        <h3>Instrument</h3>
        <p><%= @user.instrument %></p>
            <div class="d-flex ms-4 mt-3 align-items-center">
                <div class="mt-25">
                  <p>
                    <% if @user.user_bands.any? %>
                      <% @user.user_bands.each do |user_band| %>
                      <li>
                      <%= link_to user_band.band.name, band_path(user_band.band) %>
                      </li>
                      <% end %>
                    <% else %>
                      No band
                    <% end %>
                  </p>
                </div>
            </div>
          </div>
      </div>
      <div>
        <h3>Bio</h3>
        <p><%= @user.biography %></p>
      </div>

      <div>
        <h3>Genre</h3>
        <p><%= @user.style %></p>
      </div>

      <div>
        <h3>What I want to play</h3>
        <p><%= @user.projects %></p>
      </div>

      <div>
        <h3>How I want to play</h3>
        <p><%= @user.objectives %></p>
      </div>

      <div>
        <h3>Availability</h3>
        <p><%= @user.availability %></p>
      </div>

      <div>
        <h3>Frequency</h3>
        <p><%= @user.frequency %></p>
      </div>

      <div>
        <h3>Recordings</h3>
        <p> ajouter les Recordings au model de user</p>
      </div>

      <div>
        <h3>Playlist</h3>
        <p> add embedded playlist</p>
      </div>

    </div>
  </div>
</div>

  <div class="col mx-auto mb-3">
      <%= render "users/modal" %>
      <% if @user == current_user %>
        <%= link_to "Edit your profil", '#', {:remote => true, 'data-bs-toggle' =>  "modal", 'data-bs-target' => '#edituser' } %>
      <% if policy(@user).edit? %>
        <%= link_to "Edit your profil", edit_user_path(@user) %>
      <% end %>
    <% end %>
  </div>
