<nav class="navbar" data-controller="hello">
  <ul><% if user_signed_in? %>
    <li><%= link_to root_path, class: controller_name == "users" && action_name == "index" ? "active" : "" do %>
      <i class="fa-solid fa-users"></i>
    <% end %></li>
    <li><%= link_to mybands_path, class: controller_name == "bands" && action_name == "mybands" ? "active" : "" do %>
      <i class="fas fa-music"></i>
    <% end %></li>
    <li class="position-relative">
      <%= link_to messages_path, class: controller_name == "messages" && action_name == "index" ? "active" : "" do %>
      <i class="fa-solid fa-comments"></i>
          <% current_user.invites.each do |invite| %>
            <% if invite.messages.any? %>
              <span class="position-absolute top-10 start-100 translate-middle badge rounded-pill bg-secondary">
              <%= invite.messages.count %>
            <% end %>
          <% end %>
      <span class="visually-hidden">unread invites</span>
    <% end %></li>
    <li class="position-relative">
    <%= link_to notifications_path, class: controller_name == "invites" && action_name == "index" ? "active" : "" do %>
      <i class="fas fa-bell"></i>
        <% if current_user.invites.where(status: "pending").any? %>
          <span class="position-absolute top-10 start-100 translate-middle badge rounded-pill bg-secondary">
          <%= current_user.invites.where(status: "pending").count %>
        <% end %>
      <span class="visually-hidden">unread invites</span>
    <% end %>
    </li>
    <li><%= link_to user_path(current_user), class: controller_name == "users" && action_name == "show" ? "active" : "" do %>
      <i class="fas fa-user"></i>
    <% end %></li>
    <li><%= link_to destroy_user_session_path, data: { turbo_method: :delete } do %>
      <i class="fas fa-user"></i>
    <% end %></li>
    <% end %>

  </ul>
</nav>
