<nav class="navbar">
    <% if user_signed_in? %>
  <ul>
    <li>
    <%= link_to users_path, class: controller_name == "users" && action_name == "index" ? "active" : "" do %>
      <%= image_tag "logo_white.png", height: 35, width: 40 %>
    <% end %></li>
    <li><%= link_to mybands_path, class: controller_name == "bands" && action_name == "mybands" ? "active" : "" do %>
      <i class="fa-solid fa-users"></i>
    <% end %></li>
    <li class="position-relative">
      <%= link_to messages_path, class: controller_name == "messages" && action_name == "index" ? "active" : "" do %>
        <i class="fa-solid fa-comments">
        </i>
          <% if @unanswered_messages.any? %>
          <div>
            <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
            <%= @unanswered_messages.count %>
            <span class="visually-hidden">unanswered messages</span></span>
          </div>
          <% end %>
      <% end %>
    </li>
    <li class="position-relative">
      <%= link_to notifications_path, class: controller_name == "invites" && action_name == "index" ? "active" : "" do %>
        <i class="fas fa-bell"></i>
          <% if current_user.invites.where(status: "pending").any? %>
          <div>
            <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
            <%= current_user.invites.where(status: "pending").count %>
            <span class="visually-hidden">unread invites</span>
            </span>
          </div>
          <% end %>
      <% end %>
    </li>
    <li class="nav-item dropup">
      <% if current_user.photo.attached? %>
        <%= cl_image_tag current_user.photo.key, alt: "avatar", height: 50, width: 50, data: {bs_toggle: "dropdown"}, id: "navbarDropdown", class: "rounded-circle object-fit-cover"   %>
      <% else %>
        <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/skateboard.jpg" alt="avatar", height= 50, width= 50, class= "rounded-circle object-fit-cover" id="navbarDropdown" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      <% end %>
      <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
        <%= link_to "Profile", user_path(current_user), class: controller_name == "users" && action_name == "show" ? "active" : "" %>
        <%= link_to "Log out", destroy_user_session_path, data: { turbo_method: :delete } %>
      </div>
    </li>
      <% end %>
    </ul>
</nav>
