
<%= simple_form_for([@band, @document]) do |f| %>
  <%= f.input :file, as: :file%>
  <%= f.submit "Upload", class: "btn btn-primary" %>
<% end %>

<%# <% if @documents.include? %>
<%# <ul>
  <% @documents.each do |document| %>
    <%# <li>
      <%= cl_image_tag document.file.key, alt: "avatar", height: 50, width: 50, crop: :fill %>
    <%# </li>
  <% end %>
<%# </ul>
<% else %>
<%# <%= "no file" %>
<%# <% end %> %> %> %> %> %> %> %>
