
<%= simple_form_for([@band, @document]) do |f| %>
  <%= f.input :file, as: :file, class: "input-none" %>
  <%= f.submit "Upload", class: "btn btn-primary long-btn" %>
<% end %>

<% if @documents.any? %>
  <ul>
    <% @documents.each do |document| %>
      <li>
        <%= link_to "#", data: { bs_toggle: "offcanvas", bs_target: "#offcanvasDocument#{document.id}" } do %>
          <%= cl_image_tag document.file.key, alt: "avatar", width: 100, height: 100, crop: :fill %>
        <% end %>
      </li>
    <% end %>
  </ul>
<% else %>
<%= "No file yet" %>
<% end %>

<% @documents.each do |document| %>
  <div class="offcanvas offcanvas-bottom offcanvas-document" tabindex="-1" id="offcanvasDocument<%=document.id%>">
    <div class="offcanvas-header">
      <h5 class="offcanvas-title" id="offcanvasBottomLabel"></h5>
      <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body small">
      <%= cl_image_tag document.file.key, alt: "avatar", width: 300, crop: :fill %>
    </div>
  </div>
<% end %>
