<div class="container">
  <div class="mt-5">
    <div class="ms-2 p-3 card-do">
      <h5><strong>To do</strong></h5>
        <% @tasks.where(done: false).each do |task| %>
            <div class="list-unstyled mt-3">
              <p><%= link_to change_status_path(task) do %>
                <i class="fa-regular fa-square"></i>
              <% end %>
              <%= task.content %> | <%= task.user.firstname %>
              <%= link_to edit_task_path(task) do %>
                <i class="fa-solid fa-pen-to-square"></i>
              <% end %></p>
            </div>
        <% end %>
    </div>
  </div>

  <div class="mt-3">
    <div class="ms-2 p-3 card-done">
      <h5><strong>Done</strong></h5>
      <% @tasks.where(done: true).each do |task| %>
          <div class="list-unstyled mt-3">
            <p><i class="fa-solid fa-square-check"></i>
            <%= task.content %> | <%= task.user.firstname %>
            <%= link_to task_path(task), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} do %>
              <i class="fa-solid fa-trash"></i>
            <% end %></p>
          </div>
      <% end %>
    </div>
  </div>

  <%= link_to "New task", new_band_task_path(@band), class:"d-grid gap-2 col-12 mx-auto btn btn-primary long-btn m-5"%>

</div>
