<div class="container">
  <div class="mt-4">
    <div class="ms-2">
      <h5><strong>To do</strong></h5>
        <% @tasks.where(done: false).each do |task| %>
            <div class="list-unstyled mt-3">
              <%= link_to change_status_path(task) do %>
                <i class="fa-regular fa-square"></i>
              <% end %>
              <%= task.content %>
            </div>
            <div class="list-unstyled">
              <%= task.user.firstname %>
                <%= link_to edit_task_path(task) do %>
                <i class="fa-solid fa-pen-to-square"></i>
              <% end %>
            </div>
        <% end %>
    </div>
  </div>

  <div class="mt-5">
    <div class="ms-2">
      <h5><strong>Done</strong></h5>
      <% @tasks.where(done: true).each do |task| %>
          <li class="list-unstyled mt-3">
            <i class="fa-solid fa-square-check"></i>
            <%= task.content %></li>
          <li class="list-unstyled">
            <%= task.user.firstname %>
            <%= link_to task_path(task), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} do %>
              <i class="fa-solid fa-trash"></i>
            <% end %>
          </li>
      <% end %>
    </div>
  </div>

  <div class="d-grid gap-2 m-5">
    <%= link_to "New task", new_band_task_path(@band), class:"btn long-btn text-white"%>
  </div>

</div>
