<div class="container">

  <h1 class="mb-5">My bands</h1>

  <div class="m-3 my-5">
    <% if current_user.user_bands.any? %>
      <% current_user.user_bands.sort_by(&:created_at).each do |user_band| %>
        <li class="cards list-unstyled my-4 d-flex">
          <% if user_band.band.photo.attached? %>
              <div class="card-category position-relative" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= cl_image_path user_band.band.photo.key, height: 300, crop: :fill %>')">
                <%= link_to user_band.band.name, band_path(user_band.band) %>
                <div class="d-flex">
                  <p class="tag_instru"><%= current_user.id == user_band.band.user_id ? "Leader" : "" %></p>
                </div>
              </div>
          <% else %>
            <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/skateboard.jpg)" >
              <%= link_to user_band.band.name, band_path(user_band.band) %>
            </div>
          <% end %>
        </li>
      <% end %>
    <% else %>
            <p>Sorry, you don't have any band yet.</p>
    <% end %>

  </div>


    <div class="d-grid gap-2 m-3">
    <%= link_to "New band", new_band_path, class: "btn long-btn text-white position-fixed p-2", style: "right:20px; bottom:100px; width:90%" %>
  </div>
</div>
