<div class="container">
  <div class="m-5">
    <div class="col">
      <%= link_to "Back to list", bands_path, class: "btn btn-ghost mb-3" %>
        <h1><%= @band.name %></h1>
              <% if @band.photo.attached? == true %>
                <%= cl_image_tag @band.photo.key, alt: "text" %>
              <% else %>
                <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/skateboard.jpg" alt="<%= @user[:name] %>">
              <% end %>
                <div class="mt-25">
                  <p>Lead by: <%= link_to "#{@band.user.firstname} #{@band.user.lastname}", user_path(@band.user) %></p>
                  <% if @band.users.any? %>
                    <ul> Members :
                      <% @band.users.each do |member| %>
                      <li>
                      <%= link_to "#{member.firstname} #{member.lastname}", user_path(member) %><br>
                      </li>
                      <% end %>
                      </ul>
                  <% end %>
                </div>
          </div>
      </div>
    </div>
  </div>

<div class="container">
  <div class="m-5">
    <div class="col">
      <h2>Tasks</h2>
      <ul>
        <% @tasks.each do |task| %>
          <li> <%= task.content %> - <%= task.user.firstname %>  </li>
          <div>
            <%= link_to edit_band_task_path(task) do %>
              <i class="fa-solid fa-pen-to-square"></i>
            <% end %>
          </div>
        <% end %>
      </ul>
    </div>
  </div>
</div>

  <div class="col mx-auto mb-3">
      <% if policy(@band).edit? %>
        <%= link_to "Edit your band", edit_band_path(@band), class: "col btn btn-large" %>
      <% else %>
        <div class="d-flex justify-content-center">
        <%= link_to "Add review", '#', {:remote => true, 'data-bs-toggle' =>  "modal", 'data-bs-target' => '#addreview', class: "btn btn-large btn-large:hover"} %>
        </div>
      <% end %>
  </div>

<div class="container chatroom">
  <h1>#<%= @band.name %></h1>

  <div class="messages">
    <% @band.band_messages.each do |message| %>
      <div id="message-<%= message.id %>">
        <small>
          <strong><%= message.user.nickname %></strong>
          <i><%= message.created_at.strftime("%a %b %e at %l:%M %p") %></i>
        </small>
        <p><%= message.content %></p>
      </div>
    <% end %>
  </div>
</div>

<%= render 'band_messages/form', band: @band, user: current_user, band_message: @band_messages %>
