<div class="container mt-5">

  <div class="d-flex">

    <%= link_to :back do %>
      <i class="fa-solid fa-chevron-left mx-4"></i>
    <% end %>

    <div class="col mx-auto mb-3 text-end">
      <% if policy(@band).edit? %>
        <%= link_to edit_band_path(@band) do%>
          <i class="fa-solid fa-pen-to-square-edit mx-4"></i>
        <% end %>
      <% else %>
          <%# <i class="fa-regular fa-star"></i> %>
      <% end %>
    </div>
  </div>

  <div>
    <div>
      <% if @band.photo.attached? == true %>
        <%= cl_image_tag @band.photo.key, alt: "text", class:"rounded-circle mx-auto d-block", width: 150, height: 150, crop: :fill %>
        <% else %>
        <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/skateboard.jpg" alt="text", class="rounded-circle mx-auto d-block", width="150", height="150" >
        <% end %>
    </div>

    <h1><%= @band.name %></h1>

    <% if @band.users.include?(current_user) %>

    <ul class="nav tabs-line nav-justified" id="myTab" role="tablist">
      <li class="nav-item" role="presentation">
        <button class="nav-link tag-link <%= "active" if params[:tab].nil? && params[:message].nil? %>" id="home-tab" data-bs-toggle="tab" data-bs-target="#tasks" type="button" role="tab" aria-controls="home" aria-selected="true">Tasks</button>
      </li>
      <li class="nav-item" role="presentation">
        <button class="nav-link tag-link <%= "active" if params[:calendar] == "calendar" %>" id="profile-tab" data-bs-toggle="tab" data-bs-target="#calendar" type="button" role="tab" aria-controls="calendar" aria-selected="false">Events</button>
      </li>
      <li class="nav-item" role="presentation">
        <button class="nav-link tag-link <%= "active" if params[:tab] == "calendar" %>" id="profile-tab" data-bs-toggle="tab" data-bs-target="#calendar" type="button" role="tab" aria-controls="calendar" aria-selected="false">Calendar</button>
      </li>
      <li class="nav-item" role="presentation">
        <button class="nav-link tag-link <%= "active" if params[:tab] == "event" %>" id="profile-tab" data-bs-toggle="tab" data-bs-target="#events" type="button" role="tab" aria-controls="events" aria-selected="false">Events</button>
      </li>
      <li class="nav-item" role="presentation">
        <button class="nav-link tag-link <%= "active" if params[:tab] == "documents" %>" id="profile-tab" data-bs-toggle="tab" data-bs-target="#documents" type="button" role="tab" aria-controls="documents" aria-selected="false">Documents</button>
      </li>
      <li class="nav-item" role="presentation">
        <button class="nav-link tag-link <%= "active" if params[:message] %>" id="profile-tab" data-bs-toggle="tab" data-bs-target="#messages" type="button" role="tab" aria-controls="messages" aria-selected="false">Chat</button>
      </li>
      <li class="nav-item" role="presentation">
        <button class="nav-link tag-link" id="contact-tab" data-bs-toggle="tab" data-bs-target="#members" type="button" role="tab" aria-controls="members" aria-selected="false">Band</button>
      </li>
    </ul>
    <div class="tab-content" id="myTabContent">
      <div class="tab-pane fade <%="show active" if params[:tab].nil? && params[:message].nil? %> " id="tasks" role="tabpanel" aria-labelledby="home-tab"><%= render "tasks" %></div>
      <div class="tab-pane fade <%="show active"  if params[:message] %>" id="messages" role="tabpanel" aria-labelledby="messages-tab"><%= render "messages" %></div>
      <div class="tab-pane fade <%="show active"  if params[:tab] == "calendar" %>" id="calendar" role="tabpanel" aria-labelledby="calendar-tab"><%= render "calendar" %></div>
      <div class="tab-pane fade <%="show active"  if params[:tab] == "events" %>" id="events" role="tabpanel" aria-labelledby="events-tab"><%= render "events" %></div>
      <div class="tab-pane fade <%="show active"  if params[:tab] == "documents" %>" id="documents" role="tabpanel" aria-labelledby="documents-tab"><%= render "documents" %></div>
      <div class="tab-pane fade" id="members" role="tabpanel" aria-labelledby="members-tab"><%= render "members" %></div>
    </div>

    <% else %>
      <ul class="nav tabs-line" id="myTab" role="tablist">
      <li class="nav-item" role="presentation">
        <button class="nav-link tag-link active" id="contact-tab" data-bs-toggle="tab" data-bs-target="#members" type="button" role="tab" aria-controls="members" aria-selected="false">Members</button>
      </li>
      </ul>
        <div class="tab-pane fade show active" id="members" role="tabpanel" aria-labelledby="members-tab"><%= render "members" %></div>

    <% end %>


  </div>
</div>
