<!DOCTYPE html>
<html>
  <head>
    <title>Band</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="default">
    <meta name="theme-color" content="#170f23">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= javascript_importmap_tags %>
    <%= render 'shared/ios_pwa_links' %>
    <%#= favicon_link_tag "favicon.png" %>
    <link rel="manifest" href="<%= asset_path 'manifest.json' %>">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
  </head>
  <body>
    <%= yield %>
    <div class="space-navbar"></div>
    <%= render 'shared/navbar' %>
  </body>
</html>
